
/* .youtube-embed{
    width: 100%;
    height: 100%;
} */



.block{
    background-color: rgba(0,0,0,0.1);
    
}

p{
    font-family: 'Poppins', sans-serif;
color: white;
}


#news{
    margin-top: 8%;
}

@media screen and (min-width: 993px){
    .mobile-menu{
        display: none !important;

    }
}

.mobile-menu{
    float: right;
    padding-right: 4%;
    padding-top: 2.5%;
}

.mobile-menu:active{
    background-color: white !important;
    color: rgba(0,0,0,0.3) !important;
}




#brand{
margin-left: 1.2%;
}

#brand:hover, #brand:active{

background-color: white;
color: #eaa044;
}



.custom-nav{
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
}



.custom-nav a{
    color: rgba(0,0,0,0.7);
}

.custom-nav a:hover{
    color: white;
    /* background-color: rgba(0,0,0,0.9); */
    background-color: #eaa044;
   
    
}

.custom-nav a:active{
    color: #e79767;
    /* background-color: rgba(0,0,0,0.9); */
    background-color: #eaa044;

    
}


.custom-font{
font-family: 'Poppins', sans-serif;

}


body{
    background: #323c41;
}

html{
    margin: 0%;
    padding: 0%;
}